body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.caixa-principal {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 600px;
}

h1 {
    margin-bottom: 20px;
}

.caixa-perguntas {
    margin-bottom: 20px;
    font-size: 1.2em;
}

.caixa-alternativas button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
}

.caixa-resultado {
    margin-top: 20px;
    font-size: 1.2em;
}
